html(lang="ja")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="robots", content="noindex")
        title onomichi
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Courgette&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kiwi+Maru&family=Noto+Sans+JP:wght@100..900&display=swap")

        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css")
        link(rel="stylesheet" href="./assets/css/reset.css")
        link(rel="stylesheet" href="./assets/css/style.css")

    

    body
        .wrapper
            div(id="top")
            header
                .header__inner 
                    .header__logo 
                        img(src="./assets/img/logo.png", alt="")
                    .header__nav.hidden-sp
                        a(href="#about").header__link キャンペーンについて
                        a(href="#prizes").header__link 特典
                        a(href="#spots").header__link おすすめスポット
                        a(href="#question").header__link よくある質問
                        a(href="#entry").header__link 参加要項
                        a(href="#contact").header__button.button 応募してみる
                    button.header__open.drawer-icon(id="js-drawer-icon").hidden-pc
                        .drawer-icon__bars
                            span.drawer-icon__bar-long
                            span.drawer-icon__bar-short
                        span.drawer-icon__bar
                        span.drawer-icon__bar

                            
            
            .drawer-content(id="js-drawer-content").hidden-pc
                nav.drawer-content__menu
                    a(href="#about").drawer-content__link キャンペーンについて
                    a(href="#prizes").drawer-content__link キャンペーン特典
                    a(href="#spots").drawer-content__link おすすめスポット
                    a(href="#question").drawer-content__link よくある質問
                    a(href="#entry").drawer-content__link 参加要項
                    a(href="#contact").drawer-content__link お問い合わせ
                    a(href="#contact").drawer-content__button.button 応募してみる

            section.mv
                .picture-wrapper
                    picture.mv__bg
                        source(media="(min-width: 768px)", srcset="./assets/img/mv_bg-pc.png")
                        img(
                        src="./assets/img/Onomichi.png",
                        alt="背景写真:尾道の風景",
                        width="750",
                        height="1110",
                        decoding="async"
                        )
                .mv__inner
                    .mv__contents 
                        .mv__text あなたの見つけたレトロな尾道の一枚を<br>Instagramに投稿しよう
                        .mv__title1
                            img(
                                src="./assets/img/mv_title1.png",
                                alt="見つけて尾道レトロキャンペーン",
                                width="335",
                                height="105"
                            )
                        .mv__title2
                            img(src="./assets/img/mv_title2.png", alt="")
                        .mv__content
                            .mv__share 
                                img(src="./assets/img/mv_fukidashi.png", alt="")
                            .mv__present 
                                img(src="./assets/img/present.png", alt="")
                        .mv__smart 
                            img(src="./assets/img/smartphone.png", alt="")
                        a(href="#contact").mv__button.button 応募してみる
                        .mv__food 
                            img(src="./assets/img/food.png", alt="")
                        picture.mv__cats
                            source(media="(min-width: 768px)", srcset="./assets/img/mv_cats-pc.png")
                            img(src="./assets/img/cats.png", alt="")
                    .about__picture-naname.hidden-sp
                        img(src="./assets/img/naname.png", alt="")

            section(id="about").about
                .about__bd-picture
                    .about__picture-left 
                        img(src="./assets/img/about_Left-sp.png", alt="").hidden-pc
                        img(src="./assets/img/about_Left.png", alt="").hidden-sp

                    .about__picture-right 
                        img(src="./assets/img/about_Right.png", alt="")
                    .about__foot.hidden-sp
                        img(src="./assets/img/about_cats-foot.png", alt="")
                    .about__cat-foot-sp.hidden-pc
                        img(src="./assets/img/about_cats-foot-sp.png", alt="")
                .about__inner
                    .about__contents
                        .about__icon.icon
                            img(src="./assets/img/about_icon.png", alt="")
                        
                        .about__picture1
                            img(src="./assets/img/about1.png", alt="")
                        .about__picture2
                            img(src="./assets/img/about2.png", alt="")
                        .about__title1.title1.fade-in-up.is-in-view About
                        .tac
                            .about__title2.title2 キャンペーンについて
                            
                        .about__text1.hidden-pc
                            |あなたの心が動いた尾道の瞬間を
                            br.
                            |＼ おしえてください！ ／
                        .about__text1.hidden-sp
                            |＼ あなたの心が動いた尾道の瞬間を、おしえてください！ ／
                        .about__text2
                            .text-sp.hidden-pc
                                p 風情あふれる坂道に、静かに佇むお寺。
                                p 路地裏の角をまがれば
                                p 気ままにお昼寝する猫に出会え、
                                p.space ふと振り返れば、美しい瀬戸内の海が。
                                p 数々の映画の舞台にもなってきたこの街には
                                p 心がほどけるような、
                                p.space レトロでやさしい風景が広がっています。
                                p あなたの見つけた尾道のなつかしい景色を、
                                p.space ぜひおしえてください。
                                p 尾道観光部（
                                    a(href="https://www.instagram.com/onomichi_retro" target="_blank").underline @onomichi_retro
                                    | ）を
                                p フォロー&尾道で撮影した写真を、
                                p ハッシュタグ「
                                    span.font-weight #見つけて尾道レトロ
                                    | 」を
                                p つけてInstagramに投稿いただいた方の中から
                            .text-pc.hidden-sp 
                                p 風情あふれる坂道に、静かに佇むお寺。
                                p 路地裏の角をまがれば気ままにお昼寝する猫に出会え、
                                p.space ふと振り返れば、美しい瀬戸内の海が。
                                p 数々の映画の舞台にもなってきたこの街には
                                p.space 心がほどけるような、レトロでやさしい風景が広がっています。
                                p あなたの見つけた尾道のなつかしい景色を、
                                p.space ぜひおしえてください。
                                p
                                | 尾道観光部（
                                a(href="https://www.instagram.com/onomichi_retro" target="_blank").underline @onomichi_retro
                                | ）をフォロー＆
                                p 尾道で撮影した写真をハッシュタグ「
                                    span.font-weight #見つけて尾道レトロ
                                    | 」をつけて
                                p Instagramに投稿いただいた方の中から
                        .about__text3 尾道のギフトを100名様にプレゼント！
                        a.about__button.button(href="#how") 参加の仕方はこちら

                    .about__pictures 
                        .about__arrow 
                            img(src="./assets/img/arrow.png", alt="")
                        .about__sakamichi 
                            img(src="./assets/img/sakamichi-sp.png", alt="").hidden-pc
                            img(src="./assets/img/sakamichi.png", alt="").hidden-sp
                        .about__goods 
                            img(src="./assets/img/about_goods.png", alt="")
                        .about__ball 
                            img(src="./assets/img/about_ball.png", alt="")
                        .about__onomichi 
                            img(src="./assets/img/about_onomichi.png", alt="")
                        .about__wavy1.hidden-sp
                            img(src="./assets/img/bg_wavyline.png", alt="")
                        .about__wavy2.hidden-sp
                            img(src="./assets/img/bg_wavyline.png", alt="")
            .about__scroll 
                .about__slider 
                    .swiper#js-about-swiper.about__swiper
                        .swiper-wrapper.about__swiper-wrapper
                            each i in [1,2,3,4,5,6,7,8,9,10]
                                .swiper-slide.about__slide
                                    img(src=`./assets/img/about_scroll${i}.png`, alt="")

            section(id="how").how 
                .how__inner
                    .how__contents
                        .how__icon.icon
                            img(src="./assets/img/how_icon.png", alt="")
                        .how__picture-map 
                            img(src="./assets/img/how_map.png", alt="")
                        .how__picture-cats.hidden-pc
                            img(src="./assets/img/how_cats.png", alt="")
                        .how__picture-cats-pc.hidden-sp
                            img(src="./assets/img/cats_step_pc.png", alt="")
                        .how__cats-foot1.hidden-pc 
                            img(src="./assets/img/how_cats-foot-sp.png", alt="")
                        .how__cats-foot2.hidden-pc 
                            img(src="./assets/img/how_cats-foot-sp.png", alt="")
                        .how__title1.title1 How to Enter
                        .tac
                            .how__title2.title2 応募の仕方
                    .how__steps 
                        .how__step 
                            .how__step-image
                                img(src="./assets/img/how_step1.png", alt="")
                            .how__step-title アカウントをフォロー
                            .how__step-text 
                                .how__step-text-sp.hidden-pc
                                    p Instagramアプリをダウンロードして、
                                    p 公式アカウント尾道観光部(
                                        a(href="" target="_blank").underline @onomichi_retro
                                        |)の
                                    p Instagramのアカウントをフォローしてにゃん。
                                .how__step-text-pc.hidden-sp
                                    p Instagramアプリをダウンロードして、
                                    p 公式アカウント尾道観光部
                                    p (
                                        a(href="" target="_blank").underline @onomichi_retro
                                        |)のInstagramの
                                    p アカウントをフォローしてにゃん。
                            .how__follow 
                                .how__follow-icon 
                                    img(src="./assets/img/how_follow.png", alt="")
                                a(href="https://www.instagram.com/onomichi_retro" target="_blank").how__follow-text onomichi_tabi をフォロー
                            .how__step-line.hidden-pc
                                img(src="./assets/img/how_step-line.png", alt="")
                            .how__step-line-pc1.hidden-sp
                                img(src="./assets/img/step_line-pc.png", alt="")
                        .how__step.step-2
                            .how__step-image
                                img(src="./assets/img/how_step2.png", alt="")
                            .how__step-title 尾道で撮影
                            .how__step-text
                                .how__step-text-sp.hidden-pc
                                    p 尾道の旅で「レトロ」を感じられる
                                    p 写真を撮影してほしいんだにゃ。
                                    p 美しい景色、愛らしい猫、美味しい食べ物や
                                    p 可愛いお土産など、なんでもOK！
                                .how__step-text-pc.hidden-sp
                                    p 尾道の旅で「レトロ」を感じられる
                                    p 写真を撮影してほしいんだにゃ。
                                    p 美しい景色、愛らしい猫、美味しい
                                    p 食べ物や可愛いお土産など、なんでもOK！
                            .how__step-line.hidden-pc
                                img(src="./assets/img/how_step-line.png", alt="")
                            .how__step-line-pc2.hidden-sp
                                img(src="./assets/img/step_line-pc.png", alt="")
                        .how__step 
                            .how__step-image
                                img(src="./assets/img/how_step3.png", alt="")
                            .how__step-title ハッシュタグをつけて投稿！
                            .how__step-text
                                p ハッシュタグ
                                    |「
                                    span.font-weight ＃見つけて尾道レトロ
                                    |」を
                                p 必ずつけて投稿してにゃん！
                                p 投稿して頂いた方の中から
                                p 100名様に尾道の豪華な商品をプレゼント！
                    .how__button.button #見つけて尾道レトロ の最新投稿を見る
                    .how__cats-step.hidden-sp
                        img(src="./assets/img/how_cats-step.png", alt="")

            section(id="prizes").prizes
                .prizes__bg.hidden-sp
                    .prizes__bg-left 
                        img(src="./assets/img/bg_triangle-left.png", alt="")
                    .prizes__bg-right 
                        img(src="./assets/img/bg_triangle-right.png", alt="")
                .prizes__inner 
                    .prizes__head
                        .prizes__icon.icon
                            img(src="./assets/img/prizes_icon.png", alt="")
                        .prizes__title1.title1 Prizes
                        .tac
                            .prizes__title2.title2 キャンペーン特典
                    .prize__contents 
                        .prizes__text
                            |キャンペーンにご参加いただたい方の中から100名様に、尾道
                            br.hidden-pc
                            |で人気のお土産セットやオリジナルグッズをプレゼント！
                        .prizes__cards 
                            .prizes__card.js-modal-open(data-target="prizes__modal-sweets")
                                .prize__card-number 
                                    img(src="./assets/img/prizes_number1.png", alt="")
                                .prizes__card-image-wrapper 
                                    .prizes__card-image
                                        img(src="./assets/img/prizes_sweets.png", alt="")
                                .prizes__card-text
                                    |海街洋菓子店
                                    br
                                    |スイーツセット
                                    svg(xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" fill="none")
                                        path(d="M100 0V100H0L100 0Z" fill="#67B0C7")
                                        image(x="50" y="50" width="32" height="32" xlink:href="./assets/img/prizes_zoom.png")
                            .prizes__card.js-modal-open(data-target="prizes__modal-cats")
                                .prize__card-number 
                                    img(src="./assets/img/prizes_number2.png", alt="")
                                .prizes__card-image-wrapper 
                                    .prizes__card-image
                                        img(src="./assets/img/prizes_manekineko.png", alt="")
                                .prizes__card-text
                                    |ねこねこ
                                    br.hidden-pc
                                    |グッズセット 
                                    svg(xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" fill="none")
                                        path(d="M100 0V100H0L100 0Z" fill="#67B0C7")
                                        image(x="50" y="50" width="32" height="32" xlink:href="./assets/img/prizes_zoom.png")
                            .prizes__card.js-modal-open(data-target="prizes__modal-ramen")
                                .prize__card-number 
                                    img(src="./assets/img/prizes_number3.png", alt="")
                                .prizes__card-image-wrapper 
                                    .prizes__card-image
                                        img(src="./assets/img/prizes_onomichiramen.png", alt="")
                                .prizes__card-text
                                    |尾道ラーメンセット 
                                    svg(xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" fill="none")
                                        path(d="M100 0V100H0L100 0Z" fill="#67B0C7")
                                        image(x="50" y="50" width="32" height="32" xlink:href="./assets/img/prizes_zoom.png")

                            .prizes__card.js-modal-open(data-target="prizes__modal-cafe")
                                .prize__card-number 
                                    img(src="./assets/img/prizes_number4.png", alt="")
                                .prizes__card-image-wrapper 
                                    .prizes__card-image
                                        img(src="./assets/img/prizes_cafe.png", alt="")
                                .prizes__card-text
                                    |おうちで
                                    br
                                    |喫茶店セット 
                                    svg(xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" fill="none")
                                        path(d="M100 0V100H0L100 0Z" fill="#67B0C7")
                                        image(x="50" y="50" width="32" height="32" xlink:href="./assets/img/prizes_zoom.png")
                            .prizes__card.js-modal-open(data-target="prizes__modal-to-to")
                                .prize__card-number 
                                    img(src="./assets/img/prizes_number5.png", alt="")
                                .prizes__card-image-wrapper 
                                    .prizes__card-image
                                        img(src="./assets/img/prizes_to-to.png", alt="")
                                .prizes__card-text
                                    |工房尾道帆布
                                    br
                                    |オリジナルトート 
                                    svg(xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" fill="none")
                                        path(d="M100 0V100H0L100 0Z" fill="#67B0C7")
                                        image(x="50" y="50" width="32" height="32" xlink:href="./assets/img/prizes_zoom.png")
                        .prizes__button.button #見つけて尾道レトロ の最新投稿を見る
            dialog(id="prizes__modal-sweets").prizes__modal
                .prizes__modal-image 
                    img(src="./assets/img/prizes_sweets.png", alt="")
                .prizes__modal-texts
                    .prizes__modal-title 海街洋菓子店 スイーツセット
                    .prizes__modal-text 海沿いにあるケーキ屋さん、
                                        br 
                                        |海街洋菓子店の人気焼き菓子詰め合わせセット。
                                        br 
                                        |こだわりのバターをふんだんに使ったリッチな味わい
                                        br
                                        |で、濃厚なコクが後を引く美味しさです。
                    .prizes__modal-button.button.js-modal-close 閉じる
            dialog(id="prizes__modal-cats").prizes__modal
                .prizes__modal-image 
                    img(src="./assets/img/prizes_manekineko.png", alt="")
                .prizes__modal-texts
                    .prizes__modal-title ねこねこグッズセット
                    .prizes__modal-text お土産としても大人気の猫グッズを集めました。
                                        br 
                                        |お家で、オフィスで、
                                        br 
                                        |眺めているだけでも癒されてしまう
                                        br
                                        |愛らしい猫たちと一緒に。
                    .prizes__modal-button.button.js-modal-close 閉じる
            dialog(id="prizes__modal-ramen").prizes__modal
                .prizes__modal-image 
                    img(src="./assets/img/prizes_onomichiramen.png", alt="")
                .prizes__modal-texts
                    .prizes__modal-title 尾道ラーメンセット
                    .prizes__modal-text 全国にファンがいる本格的な尾道ラーメンをお家で。
                                        br 
                                        |尾道ラーメンといえば、透き通った醤油スープと、
                                        br 
                                        |平打ち麺が特徴です。
                                        br
                                        |コクがありながらまろやかな味のスープは
                                        br
                                        |思わず飲み干したくなるお味。
                    .prizes__modal-button.button.js-modal-close 閉じる
            dialog(id="prizes__modal-cafe").prizes__modal
                .prizes__modal-image 
                    img(src="./assets/img/prizes_cafe.png", alt="")
                .prizes__modal-texts
                    .prizes__modal-title おうちで喫茶店セット
                    .prizes__modal-text 尾道の人気喫茶店のコーヒー豆を使用したドリップバッ
                                        br 
                                        |グとマグカップのセット。
                                        br 
                                        |香り高い深煎りの豆は、カフェオレにするのも◎
                                        br
                                        |カンタンに楽しめるドリップバッグは、
                                        br
                                        |オフィスや在宅ワーク時、忙しい家事の合間など
                                        br
                                        |日常のさまざまなシーンで大活躍。
                    .prizes__modal-button.button.js-modal-close 閉じる
            dialog(id="prizes__modal-to-to").prizes__modal
                .prizes__modal-image 
                    img(src="./assets/img/prizes_to-to.png", alt="")
                .prizes__modal-texts
                    .prizes__modal-title 工房尾道帆布オリジナルトート
                    .prizes__modal-text 工房尾道帆布とコラボした、
                                        br 
                                        |本キャンペーンオリジナルトート。
                                        br 
                                        |シンプルなデザインで、シーンを選ばず
                                        br
                                        |お使いいただけます。
                                        br
                                        |しっかりした生地で、
                                        br
                                        |年月とともに変化していく風合いも魅力。
                    .prizes__modal-button.button.js-modal-close 閉じる
            .bg
            .wave__top
            section(id="spots").spots 
                .spots__inner
                    .spots__contents
                        .spots__head
                            .spots__icon 
                                img(src="./assets/img/spots_icon.png", alt="")
                            .spots__title おすすめスポット

                        .spots__slider 
                            // ✅ Swiper のメインコンテナ
                            .swiper#js-gallery-swiper.spots__swiper
                                // ✅ 必須のラッパー
                                .swiper-wrapper
                                    // ✅ 各スライドを `.swiper-slide` にする
                                    .swiper-slide.spots__slide
                                        .spots-card
                                            .spots-card__image
                                                img(src="./assets/img/temple_card-sp.png", alt="")
                                            .spots-card__texts 
                                                .spots-card__title 天寧寺　海雲塔
                                                .spots-card__text 尾道のシンボルともいえる三重の塔。海雲塔ごしに見える坂と海のパノラマは、まさに絶景そのもの。
                                    .swiper-slide.spots__slide
                                        .spots-card
                                            .spots-card__image
                                                img(src="./assets/img/cat_card-sp.png", alt="")
                                            .spots-card__texts 
                                                .spots-card__title 猫の細道
                                                .spots-card__text 尾道名物といえば、やっぱり猫！猫たちが集まりやすいスポットとして有名な猫の細道は、神社の手前からお寺までおよそ200メートル続きます。あちこちに飾られた猫のアートを見るのも楽しいですよ。
                                    .swiper-slide.spots__slide
                                        .spots-card
                                            .spots-card__image
                                                img(src="./assets/img/shop_card-sp.png", alt="")
                                            .spots-card__texts 
                                                .spots-card__title 本通商店街
                                                .spots-card__text 東西にのびる通りには、個性豊かなお店が並びます。尾道ならではのお土産探しにもぴったりのエリアです。風情あふれる通りを歩きながら、自分だけの宝物探しにでかけましょう！
                                    .swiper-slide.spots__slide
                                        .spots-card
                                            .spots-card__image
                                                img(src="./assets/img/bag_card-sp.png", alt="")
                                            .spots-card__texts 
                                                .spots-card__title 工房尾道帆布
                                                .spots-card__text 向島産の帆布を使ったバッグや小物がそろうお店。ポケット追加などのオーダー（有料）も可能です。店内には、帆布の織機も展示してあります。旅の相棒になるバッグを探してみるのもいいかも！
                                    .swiper-slide.spots__slide
                                        .spots-card
                                            .spots-card__image
                                                img(src="./assets/img/yu-yu_card-sp.png", alt="")
                                            .spots-card__texts 
                                                .spots-card__title ゆーゆー
                                                .spots-card__text 約100年続いた銭湯を改装したユニークなカフェ。のれんの向こうには、脱衣ロッカーやタイル張りの壁が残っており、当時のおもかげを色濃く感じることができます。地元産のジュースや調味料なども扱っており、お土産にもぴったり。
                                    .swiper-slide.spots__slide
                                        .spots-card
                                            .spots-card__image
                                                img(src="./assets/img/airship_card-sp.png", alt="")
                                            .spots-card__texts 
                                                .spots-card__title AIRSHIP COFFEE
                                                .spots-card__text 元航海士のコーヒー専門家が営むカフェ。大のコーヒー好きであるオーナー自身が、古民家を再生して開いたお店です。こだわりの詰まったコーヒーは、コーヒー通も唸るおいしさ。テイクアウトして海辺で飲むのもおすすめ！
                                    .swiper-slide.spots__slide
                                        .spots-card
                                            .spots-card__image
                                                img(src="./assets/img/higurashi_card-sp.png", alt="")
                                            .spots-card__texts 
                                                .spots-card__title 日暮亭（ひぐらしてい）
                                                .spots-card__text 築百年のお家をリノベーションし、畳や梁が建築当時のまま残る喫茶店。和のスイーツが楽しめます。人気メニューはみたらしパフェ。

                                    
                                // ✅ ページネーション
                                .swiper-pagination#js-gallery-pagenation.spots__pagination

                                // ✅ ナビゲーションボタン
                            .spots__nav
                                .swiper-button-prev#js-gallery-prev.spots__button-prev
                                .swiper-button-next#js-gallery-next.spots__button-next
                    .spots_foot.hidden-sp
                        img(src="./assets/img/spots_foot.png", alt="")
                    .spots__sub
                        .spots__sub-title 
                            img(src="./assets/img/title_spots.png", alt="")
                        .spots__sub-content
                            .spots__text レトロな景色に出会える人気の撮影スポットをピックアップ！
                            .spots__button.button #見つけて尾道レトロ の最新投稿を見る


            .wave__bottom

            section(id="question").question 
                        .question__inner
                            .question__contents
                                .question__icon.icon
                                    img(src="./assets/img/question_icon.png", alt="")
                                .question__title1.title1 Q&A
                                .tac
                                    .question__title2.title2 よくあるご質問
                                .question__items
                                    .question__item.is-open
                                        button.question__item-q.js-accordion
                                            .question__item-q-icon
                                                img(src="./assets/img/q.png", alt="")
                                            .question__item-q-text ひとりで複数回投稿してもいいですか？
                                            .question__item-button
                                                img(src="./assets/img/q_button-.png", alt="")
                                        .question__item-a
                                            .question__item-a-icon
                                                img(src="./assets/img/a.png", alt="")
                                            .question__item-a-text 期間中であれば何度でも投稿可能ですが、当選は１回限りとなります。
                                    .question__item 
                                        button.question__item-q.js-accordion
                                            .question__item-q-icon
                                                img(src="./assets/img/q.png", alt="")
                                            .question__item-q-text 過去の尾道旅行の写真でもいいですか？
                                            .question__item-button
                                                img(src="./assets/img/q_button+.png", alt="")
                                        .question__item-a 
                                            .question__item-a-icon
                                                img(src="./assets/img/a.png", alt="")
                                            .question__item-a-text  キャンペーン以前の期間に撮影した写真での参加も可能です。ただし、過去のInstagramに投稿済みのものに編集で「#見つけて尾道レトロ」を追加されてもシステム上反映することはできません。ご注意ください。
                                    .question__item 
                                        button.question__item-q.js-accordion
                                            .question__item-q-icon
                                                img(src="./assets/img/q.png", alt="")
                                            .question__item-q-text お店の中で写真を撮ってもいいですか？
                                            .question__item-button
                                                img(src="./assets/img/q_button+.png", alt="")
                                        .question__item-a 
                                            .question__item-a-icon
                                                img(src="./assets/img/a.png", alt="")
                                            .question__item-a-text 店内で撮影した写真での参加も可能ですが、他人のプライバシーを侵害する写真によるご応募は無効です。店内撮影の際は、必ずお店の人へご確認ください。
                                    .question__item 
                                        button.question__item-q.js-accordion
                                            .question__item-q-icon
                                                img(src="./assets/img/q.png", alt="")
                                            .question__item-q-text 当選したらプレゼントは選べますか？
                                            .question__item-button
                                                img(src="./assets/img/q_button+.png", alt="")
                                        .question__item-a 
                                            .question__item-a-icon
                                                img(src="./assets/img/a.png", alt="")
                                            .question__item-a-text 恐れ入りますが、プレゼントをお選びいただくことはできません。また、ご当選者の発表は当選者の方への連絡をもって代えさせていただきます。
            section(id="entry").entry
                .entry__inner 
                    .entry__icon.icon
                        img(src="./assets/img/entry_icon.png", alt="")
                    .entry__title1.title1 Entry Requirements
                    .tac
                        .entry__title2.title2 参加要項
                    .entry__contents
                        .entry__content
                            .entry__content-title キャンペーン名
                            .entry__content-text #見つけて尾道レトロキャンペーン
                        .entry__content
                            .entry__content-title 応募期間
                            .entry__content-text 2022/8/1(月)〜2022/9/30(金)
                        .entry__content
                            .entry__content-title 内容
                            .entry__content-text| 尾道観光部（
                                                a(href="https://www.instagram.com/onomichi_retro" target="_blank").underline @onomichi_retro
                                                | ）をフォロー&尾道で撮影した写真を、ハッシュタグ「#見つけて尾道レトロ」をつけてInstagramに投稿いただいた方の中から100名様に尾道のギフトセットやオリジナルグッズをプレゼント！
                        .entry__content
                            .entry__content-title 対象のお客様
                            .entry__content-text| 日本国内在住で、公式アカウント（
                                                a(href="https://www.instagram.com/onomichi_retro" target="_blank").underline @onomichi_retro
                                                | ）をフォローのうえ、ハッシュタグをつけて応募された方
                        .entry__content
                            .entry__content-title 注意事項
                            ul.entry__content-text
                                li.text__dots 
                                    span
                                        | 当選のご連絡はInstagramダイレクトメールで 行いますので、公式アカウント（
                                        a(href="https://www.instagram.com/jtb_nihonnoshun" target="_blank").underline @jtb_nihonnoshun
                                        | ）を必ずフォローしてください。
                                li.text__dots Instagramの投稿を「非公開」設定にされている場合は、本キャンペーンの応募対象外になりますのでご注意ください。
                                li.text__dots ご本人が撮影した写真が対象です。 他人の著作権を侵害する写真、公序良俗に反する写真、他人のプライバシーを侵害する写真によるご応募は無効です。
                                li.text__dots 指定のハッシュタグをつけて画像を投稿した時点で肖像権や著作権、その他一切の関連する権利（以下、「肖像権等」といいます）に対する了承がとれているものと見なします。 投稿写真内で確認できる対象物によって肖像権等の第三者の権利侵害があった場合、当社は一切責任を負いません。
                                li.text__dots
                                    span
                                        | 投稿された写真は
                                        a(href="https://www.instagram.com/onomichi_retro" target="_blank").underline ＠onomichi_retro
                                        | にリポスト投稿する場合もあります。
                                li.text__dots 発表は当選者の方への連絡をもって代えさせていただきます。
                                li.text__dots ご応募は日本国内在住の方に限ります。
                                li.text__dots ご送信いただいた個人情報は当社が当選者への賞品の発送、本キャンペーンに関する諸連絡に利用するほか、商品やサービスの参考とするために個人を特定しない統計情報の形で利用させていただきます。
                                li.text__dots 
                                    span 
                                        | 応募者または当選者の個人情報は当社が管理します。応募者または当選者の個人情報を応募者または当選者の同意なしに業務委託先以外の第三者に開示・提供することはありません。（法令等により開示を求められた場合を除く）なお、ご送信いただいた個人情報は当社の個人情報保護方針に基づき安全かつ適切に管理いたします。詳しくは当社ホームページにて、
                                        a(href="" target="_blank").underline プライバシーポリシー
                                        |をご確認ください。

            .big__entry 
                img(src="./assets/img/bg_entry.png", alt="")

            section(id="contact").contact 
                .contact__inner
                    .contact__contents
                        .contact__icon.icon
                            img(src="./assets/img/contact_icon.png", alt="")
                        .contact__title1.title1 Contact
                        .tac
                            .contact__title2.title2 お問い合わせ
                        .contact__text
                            |本キャンペーンに関するお問い合わせは
                            br.hidden-pc
                            |以下のフォームからお願いします。
                        .contact__items 
                            form.contact__form#contact-form(novalidate)
                                .contact__fields
                                    .contact__field
                                        .form-field
                                            .form-field__head
                                                label.form-field__label(for="your-name") お名前
                                                span.form-field__tag 必須
                                        .form-field__item
                                            input.form-text(type="text" name="your-name" id="your-name" placeholder="山田太郎" required)
                                    .contact__field
                                        .form-field
                                            .form-field__head
                                                label.form-field__label(for="your-email") メールアドレス
                                                span.form-field__tag 必須
                                        .form-field__item
                                            input.form-text(type="email" name="your-email" id="your-email" placeholder="info@example.com" required)
                                    .contact__field
                                        .form-field
                                            .form-field__head
                                                label.form-field__label(for="your-age") お問い合わせ内容
                                                span.form-field__tag.is-option 必須
                                        .form-field__item
                                            .cp_ipselect02
                                                select.form-select(name="your-age" id="your-age" required)
                                                    option(value="") 選択してください
                                                    option(value="") 選択１
                                                    option(value="") 選択２
                                                    option(value="") 選択３
                                                
                                    .contact__field
                                        .form-field
                                            .form-field__head
                                                label.form-field__label(for="your-age") メールマガジン
                                        .form-field__item
                                            .form-field__radios
                                                label.form-field__radio.form-radio
                                                    input.form-radio__input(type="radio" name="your-inquiry")
                                                    span.form-radio__text 希望する
                                                label.form-field__radio.form-radio
                                                    input.form-radio__input(type="radio" name="your-inquiry")
                                                    span.form-radio__text 希望しない
                                    .contact__field
                                        .form-field
                                            .form-field__head
                                                label.form-field__label(for="your-message") メッセージ
                                                span.form-field__tag 必須
                                        .form-field__item
                                            textarea.form-textarea(
                                                name="your-message" 
                                                id="your-message" 
                                                cols="30" 
                                                rows="10" 
                                                placeholder="このキャンペーンに関するお問い合わせがある方は、こちらにご相談内容をご入力ください。3営業日以内にご返信いたします。"
                                                required
                                            )
                                    .contact__privacy
                                        label.form-checkbox
                                            input.form-checkbox__input(type="checkbox" name="your-privacy")
                                            span.form-checkbox__text
                                                a(href="" target="_blank") プライバシーポリシー
                                                | に合意する
                                    .contact__button-wrapper 
                                        button(type="submit").contact__button.button 上記の内容を送信する
            section.follow 
                .follow__inner 
                    .follow__title \ Please Follow Us! /
                    .follow__sns 
                        a(href="https://www.youtube.com/onomichi_retro" target="_blank")
                            img(src="./assets/img/youtube_icon.png", alt="")
                        a(href="https://www.instagram.com/onomichi_retro/" target="_blank")
                            img(src="./assets/img/instagram_icon.png", alt="")
                        a(href="https://twitter.com/onomichi_retro" target="_blank")
                            img(src="./assets/img/twitter_icon.png", alt="")
                    .follow__onomichi.hidden-pc
                            img(src="./assets/img/about_onomichi.png", alt="")
                    .follow__onomichi-pc.hidden-sp
                        img(src="./assets/img/follow_onomichi-pc.png", alt="")
                    .follow__contents
                        .follow__map
                            iframe(
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3291.671181564551!2d133.20206597618872!3d34.40970274877029!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x355101ae25445039%3A0xa7f60624966b8290!2z44CSNzIyLTAwNDUg5bqD5bO255yM5bC-6YGT5biC5LmF5L-d77yR5LiB55uu!5e0!3m2!1sja!2sjp!4v1744103884452!5m2!1sja!2sjp"
                                allowfullscreen
                                loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"
                                )

                        .follow__accesses 
                            .follow__logo 
                                img(src="./assets/img/logo.png", alt="")
                            .follow__access
                                .follow__access-title 運営者
                                .follow__access-text 観光キャンペーン運営事務局
                            .follow__access
                                .follow__access-title 住所
                                .follow__access-text 広島県尾道市久保１丁目○−○
                            .follow__access
                                .follow__access-title 営業時間
                                .follow__access-text 平日9:00-17:00（土・日・祝は休み）
                            .follow__access
                                .follow__access-title 電話番号
                                .follow__access-text 000-0000-0000
            
            section.page__top#js-pagetop
                a.pagetop(href="#top")
                    img(src="./assets/img/pagetop.png", alt="")

            section.footer
                .footer__inner
                    .footer__image.hidden-pc
                        img(src="./assets/img/wave_pic.png", alt="")
                    .footer__image-pc.hidden-sp
                    .footer__copyright Copyright © Tourism campaign management office.
        // ✅ 1. jQuery を最初に読み込む
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")

        // ✅ 2. Swiper を次に読み込む
        script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")

        // ✅ 3. 自作のスクリプトを最後に読み込む
        script(src="./assets/js/script.min.js")




